# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd
*.dll
*.egg-info

# Distribution / packaging
.eggs/
dist/
build/
develop-eggs/
.installed.cfg
*.egg

# Our build scripts (that generate files that should not be committed)
*.spec

# Poetry
.venv/
/target/

# IDE specific files
*.idea/
.vscode/
cdk.out

.env